.th{
    position: relative;
  /*  left: 23.7%;*/
    text-align: center;

  }

  .input{
    outline: none;
    border:0px;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  select{
    outline: none;
    border:0px;
    width: 100%;
  }

  #fecha{
    outline: none;
    border:0px;
    text-align: center;
    font-weight:bold;
  }

  table{
   /* position: relative;
    top: 40px;*/

    width: 100%;
 

  }

  .borderTable{
       border:1px solid rgba(100,100,100,.3);
  }

  td{
    padding-bottom: 20px;
  }

  .btn-enviar{
    position: relative;
  top:10px ;
    left: 45%;
    width: 10%;
    transition: all 0.5s;
  }

  .btn-enviar:hover{
    transition: all 0.5s;
    transform: scale(1.2);
    font-weight: bold;

  }

  .success{
  background:rgba(40,167,69,.5);
  height: 10vh;
  width: 30%;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  transition: all 1s;
  position: relative;
  left: 120%;
  opacity:'0.5'

}

@media only screen and (max-width: 900px){

   .btn-enviar{
    position: relative;
  top:10px ;
    left: 30%;
    width: 50%!important;
    transition: all 0.5s;
  }

}


